<!DOCTYPE html>

<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta charset="utf-8">

</head>

<body>
  <p>Welcome to the chat app</p>

  <ol id="messages"></ol>

  <form id="message-form">
    <input name="message" type="text" placeholder="Message"/>
    <button>Send</button>
  </form>

  <button id="geo-location">send location</button>

  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="./jquery-3.3.1.min.js"></script> -->
  <script>
      var socket = io();

socket.on('connect' , function (){
    console.log('connect to the server');
});

socket.emit('clientMessage' , {
    from : "client123@gmail.com" ,
    to : 'server',
    createdAt : '4324'
});


socket.on('disconnect' , function (){
    console.log('disconnect to the server');
});

socket.on('newMessage' , function (message) {
    console.log('newMessage' , message);
    let li = jQuery('<li></li>');
    li.text(`${message.from} : ${message.text}`);

    jQuery('#messages').append(li); 
});

socket.on('newLocationMessage' , function (locationMessage){
    console.log('newLocationMessage' , locationMessage);
    let li = jQuery('<li></li>');
    let a = jQuery('<a target="_blank">Thats my location</a>');
    li.text(`${locationMessage.from} : `);
    a.attr('href' , locationMessage.url );
    li.append(a);
    jQuery('#messages').append(li);
});

jQuery('#message-form').on('submit' , function(e){
    e.preventDefault();

    socket.emit('createMessage' , {
        from : 'User',
        text : jQuery('[name = message]').val()    
    } , function() {

    });
});

let locationButton = jQuery('#geo-location');
locationButton.on('click' , function() {
    if(!navigator.geolocation)
    {
        return alert('geolocation does not sppourt your browser');
    }

    navigator.geolocation.getCurrentPosition(function(position) {
        socket.emit('createLocationMessage' , {
            latitude : position.coords.latitude,
            longitude : position.coords.longitude
        });
    } , function() {
        alert('unable to fetch location');
    });

});

  </script>
  <!-- <script src="/js/index.js"></script> -->
</body>

</html>
