<!DOCTYPE html>

<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta charset="utf-8">

</head>

<body>
  <p>Welcome to the chat app</p>

  <ol id="messages"></ol>

  <form id="message-form">
    <input name="message" type="text" placeholder="Message"/>
    <button>Send</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="./jquery-3.3.1.min.js"></script> -->
  <script>
      var socket = io();

socket.on('connect' , function (){
    console.log('connect to the server');
});

socket.emit('clientMessage' , {
    from : "client123@gmail.com" ,
    to : 'server',
    createdAt : '4324'
});


socket.on('disconnect' , function (){
    console.log('disconnect to the server');
});

socket.on('newMessage' , function (message) {
    console.log('newMessage' , message);
    let li = jQuery('<li></li>');
    li.text(`${message.from} : ${message.text}`);

    jQuery('#messages').append(li); 
});

jQuery('#message-form').on('submit' , function(e){
    e.preventDefault();

    socket.emit('createMessage' , {
        from : 'User',
        text : jQuery('[name = message]').val()    
    } , function() {

    });
});

  </script>
  <!-- <script src="/js/index.js"></script> -->
</body>

</html>
